@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");


$text-color: #FFF;
// $title-color: #666;
// $accent-color: #fc0;
$secondary-color: #f8c51c;
$third-color: #616161;
$gray-color: #8f8f8f;
$second-gray-color: #dbdbdb;
$almost-black: #333;
$text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
$div-shadow: 0 2px 4px 0 rgba(111, 111, 111, 0.5);



$title-ff: Roboto, Arial, sans-serif;
$text-ff: Arial, sans-serif, Raleway;
$btn-ff: 'Open Sans', Arial, sans-serif;