@import "vars";
@import "mixins";

// @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@font-face {
font-family: HelveticaNeue;
src: url('../fonts/HelveticaNeue.eot');
src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaNeue.woff') format('woff'),
url('../fonts/HelveticaNeue.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: HelveticaNeue-CondensedBlack;
src: url('../fonts/HelveticaNeue-CondensedBlack.eot');
src: url('../fonts/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff'),
url('../fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: HelveticaNeue-Bold;
src: url('../fonts/HelveticaNeue-Bold.eot');
src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: HelveticaNeueBoldCondensed;
src: url('../fonts/HelveticaNeueBoldCondensed.eot');
src: url('../fonts/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
url('../fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: HelveticaNeue-Light;
src: url('../fonts/HelveticaNeue-Light.eot');
src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaNeue-Light.woff') format('woff'),
url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}





* {
  box-sizing: border-box;
  transition: all .15s;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  color:  $text-color;
  font: 14px/1.6 HelveticaNeue;
}

.intro {
  min-height: 100vh;
  padding-bottom: 160px;
  background-image: url(../img/main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // font-family: 'HelveticaNeueCyr Black';
  font-family: HelveticaNeue;
  position: relative;

  .header {
    padding-top: 32px;

    &::before,
    &::after {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  .logo {
    float: left;
    width: 145px;
    height: 41px;
    font-family: Lato;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 2.3px;
    text-align: left;
    color: $text-color;
    text-shadow: $text-shadow;
    text-transform: uppercase;
    @media screen and (max-width: 992px) {
            width:79px;
            margin-right: 28px;
            // .tablo-item:last-child {
            //    margin-right: 0px;
            // }
        }

    a {
      text-decoration: none;
      color: $text-color;
    }

    span {
      color: $secondary-color;
    }

      @media screen and (max-width: 992px) {
          float: left;
          width: calc(750px/2 + 58px) ;
          a {
            float: right;
          }
      }
  }

  .nav {
    float: left;
    font-family: HelveticaNeue-CondensedBlack;
    margin-left: 120px;
    margin-top: 4px;
    height: 25px;
    font-size: 21px;
    font-weight: 900;
    font-stretch: condensed;
    letter-spacing: 0.8px;
    text-align: left;
    color: $text-color; 

    .menu {
      display: inline-block;
      margin: 0;

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 50px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: $text-color;

        }
      }
    }

     @media screen and (max-width: 992px) {
          display: none;
      }
  }

  .lang {
    float: right;
    margin-top: 6px;
    .lang1 {
      float: left;
      height: 30px;
      vertical-align: top;
    }
    .lang2 {
      float: left;
      height: 30px;
      vertical-align: top;
    }

    .arrow-lang {
      float: left;
      border-left: 1px solid $secondary-color;
      padding-left: 3px;
      margin-left: 4px;
      margin-top: 2px;
      height: 22px;
      .arrow-link {
        vertical-align: middle;
      }
    }

    .lang-bottom-opasity {
      width: 37px;
      height: 30px;
    }
  }

  .intro-wrap {
    margin-top: 90px;
    margin-bottom: 5px;

    &::before,
    &::after {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  .round-arrow-down {
      
    img {
        position: absolute;
        bottom: -79px;
        left: calc(50% - 69px);
    }
      
  }
}


// ----- блок INNER с текстом, счётчиком и формой -----
.flip-clock-divider.seconds .flip-clock-label {
  right:20px;

}
.flip-clock-divider.minutes .flip-clock-label {
  right:20px;
}

.inner {
    float: left;
    width: 525px;

    @media screen and (max-width: 992px) {
         text-align: center;
         float: none;
         margin-right: 0;
         width: auto;
      }

    .slogan {
      background-color: $secondary-color;
      color: $text-color;
      font-weight: 900;
      letter-spacing: 0.8px;
      font-size: 21px;
      font-stretch: condensed;
      text-transform: uppercase;
      font-style: normal;
      line-height: normal;
      display: inline-block;
      font-family: HelveticaNeue-CondensedBlack;
    }

    .inner__text {
      margin-top: 15px;
      font-size: 40px;
      font-weight: 900;
      line-height: 0.78;
      letter-spacing: 2.7px;
      font-family: HelveticaNeue-CondensedBlack;
       font-stretch: condensed;

      span {
        color: $secondary-color;
        text-transform: uppercase;
      }
    }

    .tablo {
      margin-top: 24px;
      width: 700px;
      font-family: HelveticaNeue-CondensedBlack;
      
       @media screen and (max-width: 992px) {
         width: 430px;
         margin-left: auto;
         margin-right: auto;
      }

      .tablo-items {
        margin-left: -10px;
      }

      .tablo-item {
        display: inline-block;
        margin-right: 30px;
        width: 78px;
        text-align: center;
        font-size: 0;

        &:last-child {
          margin-right: 0px;
        }


        @media screen and (max-width: 992px) {
            width:79px;
            margin-right: 29px;
            // .tablo-item:last-child {
            //    margin-right: 0px;
            // }
        }

        
        .tablo-item--first {
            margin-left: 1px;
            @media screen and (max-width: 992px) {
              margin-left: -6px;
            }
        }

        .tablo__days {
          text-align: center;
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: -1px;
          text-transform: uppercase;
          color: #a3a3a3;
          width: 100%;
          text-align: center;
          margin-top: 1px;


        
        }

      }

      .tablo-items {
        &:first-child {
          margin-left: 2px;
        }
      }
    }

    .inner__text2 {
      margin-top: 3px;
      width: 525px;
      font-size: 25px;
      line-height: 0.92;
      letter-spacing: -1.3px;
      text-transform: lowercase;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      @media screen and (max-width: 1200px) {
         width: 516px;
      }
      @media screen and (max-width: 992px) {
         width: auto;
      }
      

    }

    .inner__text3 {
      margin-top: 11px;
      font-size: 25px;
      font-weight: bold;
      line-height: 0.92;
      letter-spacing: -1.3px;
      // я меняла чуть letter-spacing, так как буква на букве
      color: $secondary-color;
      text-transform: uppercase;
      font-family: "HelveticaNeue-Bold";
      font-style: normal;
      font-stretch: normal;


    }

  .btn {
    margin-top: 24px;
  }


}


// ----- Форма регистрации -----

.form {
    width: 364px;
    // width: auto;
    // что-то делать с шириной формы
    
    height: 381px;
    border-radius: 3px;
    background-color: $text-color;
    float: right;
    font-family: HelveticaNeueBoldCondensed;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-right: 85px;
    box-shadow: $text-shadow;
    @media screen and (max-width: 1200px) {
         width: 356px;
         height: 403px;
         margin-right: 40px;
      }

     @media screen and (max-width: 992px) {
         display: none;
      }


    .form-header {
      // width: auto;
      height: auto;
      background-color: $almost-black;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      padding: 18px 12px 12px;
      text-align: center;


      .form-header__text1 {
        font-size: 31px;
        font-weight: bold;
        letter-spacing: -0.9px;
        color: $secondary-color;
        text-shadow: $text-shadow;
        display: inline-block;
      }

      .form-header__text2 {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: -0.3px;
        color: $text-color;
        text-shadow: $text-shadow;
        margin-top: 8px;
         display: inline-block;
      }
    }
}

// ----- основная часть формы регистрации с инпутами -----

.form-main {
  position: relative;
  border-radius: 3px;
  padding: 30px 12px 15px;

  .input {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid $second-gray-color; 
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-align: left;
    color: $gray-color; 
    background-color: #f3f3f3;
    font-family: HelveticaNeue-Light;

    &:first-of-type {
      margin-bottom: 15px;
    }

    &::placeholder {
      font-family: HelveticaNeue-Light;
      color: #afafaf; 
    }

    &:hover::placeholder {
      color:  $gray-color;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none; 
      color: $third-color;
    }

    &:focus {
      border: 1px solid $secondary-color; 
    }    
 }

  .wrap-checkbox {
    // font-size: 0;
    margin-top: 15px;
    position: relative;
      
    .check-img {
      vertical-align: middle;  
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 3px;
      border: 1px solid $second-gray-color;
      padding: 3px;
      background-color: #f3f3f3;

      .check-img-checked {
        height: 12px;
        width: 12px;
        border-radius: 3px;
        // margin-top: 0.5px;
        border: 1px solid $second-gray-color; 
      }
    }
     
    .label {
      display: inline-block;
      width: 90%; 
      color: $gray-color; 
      margin-left: 5px;
      font-family: HelveticaNeue-Light;
      font-size: 12px;
      letter-spacing: 1px;

    }

      input {
        display: inline-block;
        float: left;
        opacity: 0;
        width: 5%;
        margin: 0;
        width: 18px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;

         & + .check-img .check-img-checked   {
          border: 1px solid $second-gray-color;
          background-color: $secondary-color;
        }

        &:checked + .check-img .check-img-checked   {
          border: 1px solid $second-gray-color;
          background-color: $text-color;
        }
      }
       
  }

  .div-for-centering-btn {
    display: flex;
    justify-content: center;
  }

  .btn--black-text {
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 38px;
    margin-bottom: 32px;
  }

  .form__bonus {
    position: absolute;
    width: 104px;
    height: 104px;
    top: -36px;
    right: -52px;
    background-image: url(../img/group-21@2x.png);
    background-size: 96%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// --- здесь заканчивается основная часть form-main ---

// прописываю стили для модалки ниже

.form--modal {
  width: auto;
  height: auto;
  margin-right: 0;
  .form__bonus {
    display: none;
  }
  .label {
    color: $third-color;
  }
}

.modal--thank, .modal--thank-for-open {
  padding: 30px 10px 40px;
  background-color: $almost-black;
  width: 361px;
  height: auto;

  .form-header {
    height: 100%;
    padding: 0px;
     .form-header__text2 {
       font-size: 21px;
       &:nth-of-type(3) {
        margin-top: 23px;
        margin-bottom: 20px;
       }
     }
  }
}


// ---- Повторяющиеся блоки пока сюда вынесены ----

.section__title {
    font-family: HelveticaNeue-CondensedBlack;
    font-size: 40px;
    font-weight: 900;
    line-height: 0.78;
    letter-spacing: 2.7px;
    text-align: center;
    font-style: normal;
    font-stretch: condensed;
    color: $almost-black;
    margin: 0;
    line-height: normal;
    
}

.section__inner-text {
      margin-top: 20px;
      font-family: HelveticaNeue;
      font-size: 20px;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: 0.9px;
}



// ----- SECTION2 - секция-2 -----

.section2 {
  padding-top: 96px;
  margin-bottom: -8px;
  // я не понимаю за счёт чего у этой секции именно такая ширина, поэтому делаю такой марджин, чтобы соответствовать пиксель перфект

  
    .section2__line {
    margin-top: 115px;
    width: 100%;
    height: 1px;
    border-top: solid 3px #f8c51c;
    display: inline-block;   
  }

  .section2__images {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -85px;
    width: 84%;

     @media screen and (max-width: 992px) {
         width: 94%;
     }

    .section2__img {
      text-align: center;
    }
    
    .section2__subtitle {
       font-family: HelveticaNeue-CondensedBlack;
       font-size: 20px;
       font-weight: 900;
       letter-spacing: 1.3px;
       color: $almost-black;
       text-align: center;
    }

  }
 
}



// ----- SECTION3 секция-3 ----- 

.section3 {
  
  color: $text-color;
  background-color: $almost-black;
  padding-bottom: 50px;
  

  .section3__wrap {
    position: relative;
    &::before,
    &::after {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  .section3__inner {
    padding-top: 91px;
    width: 556px;
    float: left;
    @media screen and (max-width: 992px) {
       padding-top: 50px;
        width: 448px;
    }

    .section3__title {
      font-family: HelveticaNeueBoldCondensed;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 2.7px;
      line-height: normal;

      span {
        color: $secondary-color;
      }
    }

    .section3__inner-text {
      @extend .section__inner-text;
      line-height: 1.35;
      letter-spacing: normal;
    }

  }

  .section3__img {
    float: right;
    margin-left: 44px;
    margin-right: 120px;

     @media screen and (max-width: 1200px) {
         margin-left: 0px;
         margin-right: -33px;
         width: 300px;
      }
  }

  &__background-text {
    opacity: 0.05;
    font-family: HelveticaNeue-Bold;
    font-size: 250px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: normal;
    color: #adadad;
    position: absolute;
    bottom: -50px;
    left: -142px;
  }

}


// ------- SECTION #4 ----------

.section4 {
  padding: 80px 0 85px; 
  color: $almost-black;

  .section4__container {
    position: relative;
    &::before,
    &::after {
      content: "";
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  .section4__div-for-img {
    float: left;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
  }

  .section4__text {
    float: left;
    margin-left: 36px;   
    width: calc(100% - 450px - 36px);
    height: 100%;
    
    .section4__title {
      font-family: Lato;
      font-size: 34px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2.3px;
      margin-bottom: 29px;
      border-left: 4px solid $secondary-color;
      padding-left: 9px;

        &:before {
          content: "";
          height: 38px;
          weight: 3px;
          background-color: #555; 
        }
    }

    .section4__inner-text {
      
      @extend .section__inner-text;
      margin-bottom: 75px;

      @media screen and (max-width: 1200px) {
         margin-bottom: 80px;
      }
    }

    .btn {
      bottom: 8px;
      position: absolute;
      margin-left: 2px;
      // padding-bottom: 2px;
    }
  }
}

.section5 {
  padding: 107px 0 81px;
  background-color: $almost-black;
  background-image: url(../img/girl.jpg);
  background-repeat: no-repeat;
  background-position:  calc(100% - 160px) center;
  @media screen and (max-width: 1200px) {
         background-position:  calc(100% - 70px) center;
      }

  &__inner {
    width: 657px;
    height: 387px;
    margin-left: 49px;
    background-color: $text-color;
    padding: 25px;
    text-align: center; 
    color: $almost-black;
    box-shadow: $div-shadow;


    .section5__img {
          
    }

    .section5__title {
       margin-top: 15px;
       font-family: HelveticaNeue-CondensedBlack;
       font-size: 20px;
       font-weight: 900;
       font-style: normal;
       font-stretch: condensed;
       line-height: normal;
       letter-spacing: 0.9px;
    }
    
    .section5__inner-text {
      @extend .section__inner-text;
      margin-top: 15px;
      width: 616px;
      height: 145px;
    }

    .section5__line {
      width: 270px;
      height: 2px;
      border: 2px solid $secondary-color;
      display: inline-block;
    } 
      //  &::after {
      //   content: "";
      //   width: 300px;
      //   // text-align: center;
      //   height: 5px;
      //   border-bottom: 3px solid #fc0;
      //   bottom: 0;
      //   position: absolute;  
      // }

  }
}

// ------- SECTION #6 -------

.section6 {
  padding: 80px 0px 75px;
  color: $almost-black;
  text-align: center;

  .section6__title {
    width: 768px;
    line-height: normal;
    margin: 0 auto;
    letter-spacing: 1.8px;

  }

  .section6__items {
    margin: 0 auto;
    margin-top: 30px;
    // width: calc(85% + 80px);
    width: 94%;
    font-size: 0;


    //  display: flex;
    // justify-content: space-between;
  }

  .section6__item--outer {
    width: 33.2%;
    padding: 24px 0;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
        
  }

  .section6__item--outer:nth-child(3n)  {
    .section6__item--inner {
      border-right: none;
    }
  }

  .section6__item--outer:nth-child(4),  
  .section6__item--outer:nth-child(5),
  .section6__item--outer:nth-child(6) {
    border-top: 1px solid #d9d9d9;
  }

  .section6__item--inner {
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid #d9d9d9;
    min-height: 190px;
  }

  .item6__img img {
    display: inline-block;
    margin: 0 auto;
    //  &::after {
    //   content: "";
    //   border-right: 1px solid #d9d9d9;
    //   width: 2px;
    //   display: inline-block;
    //   height: 100px;
    //   text-align: right;
    // }
  }

  .item6__title {
    margin-top: 0px;
    display: block;
    // color: $almost-black;
    font-family: HelveticaNeue-CondensedBlack;
    font-size: 17px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    // text-align: center;

  }

  .item6__subtitle {
    margin-top: 6px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
     &::after {
      content: "";
      width: 100px;
      border-bottom: 1px solid red;
      height: 4px;
      

    }
    
  }



}

// ------- SECTION#7 --------

.section7 {
  text-align: center;
  background-image: url(../img/footer.jpg);
  background-position: center;
  background-size: cover;
  padding: 77px 0 91px;

  &__title {
    // padding-top: 90px;
    color: $secondary-color;
  }

  &__subtitle {
    margin-top: 25px;
    height: 124px;
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-bottom: 22px;
  }

}

// -------- ФУТЕР --------

.footer {
  padding: 22px 0;
  border-top: 1px solid $text-color;
  background-color: $almost-black;
  text-align: center;
  .footer__text {
    display: inline-block;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.6px;
    color: $text-color;
  }
}
// <img src="img/img-for-section6/discount.png" alt="">






.btn {
  text-decoration: none;
  min-width: 240px;
  margin-top: 20px;
  padding: 13px 13px 13px;
  background-color: #f8c51c;
  display: inline-block;
  background-color: $secondary-color;
  color: $text-color;
  font-size: 17px;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid $secondary-color; 
  outline: 0;
  font-family: "HelveticaNeue-Bold";

  &--second {
    margin-left: 8px;
  } 

   &:hover {
    background-color: transparent;
    border: 1px solid $secondary-color;
    cursor: pointer;
  }

  &--transparent { 
    background-color: transparent;
    border: 1px solid $secondary-color;
     &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }
  }

   &--black-text { 
    color: $almost-black;
    border: 1px solid $secondary-color; 

    &:hover {
      background-color: #f3f3f3;
      border: 1px solid $second-gray-color; 
    }
   }

   &--on-white {
      &:hover {
      color: $almost-black; 
      background-color: #f3f3f3;
      border: 1px solid $second-gray-color; 
      }
   }
 
}

// .small-arrow-svg {
//   display: none;
// }

.container {
  width: 1170px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1200px) {
    width: 970px;
  }

  @media screen and (max-width: 992px) {
    width: 750px;
  }

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.notvisible {
  display: none;
}

.hidden {
  visibility: hidden;
}


// #feedback, #about-open {display:none;} 

#feedback, #about-open, #modal--thank, #modal--thank-for-open {display:none;} 



// По псевдоэлементам бефор и афтер и дисплей блок и габариты позиционирование, прижать ко дну и отцентрировать - лефт-50% и трансформ транслейт 50%ж




// тегом br правильно переносить строчки??? Это например в секции6 в тайтле

// надо - ширину формы
// надо кнопку посередине сделать, флексами только смогла
// флик лок или вроде того, счётчик
// сделать анимацией кнопку плавного перехода при нажатии на стрелочку
// сгруппировать некоторый текст и тд
// ключевая кнопка должна быть тайп сабмит и в форме


// ---- полезное: 
// гит хаб спросила, в следующий раз можно не через ссылку подключать js, а скачивать его сразу
// логин на гит забе Rikard или рикард звучит

// кроме того, надо присылать им потом на проверку расписанное, чтобы они подтвердили

// 1170 на высоту сжимаем в фотошопе скачанный макет

// статья 30 css селекторов, которые нужно знать для блока с nth child
// почитать о центрировании элементов, текста
// трансформ транслейт для нижней кнопки для размещения ее по центру почитать
// поменять п на див
// почитать про поведение плавающих элементов
// задать фиксированную ширину таблу
// отталкивание марджин боттом делать в будущем



// попробовать поразбираться в том, как оформить этот фанси бокс
// планы дома среда - попробовать сделать своё простейшее модальное окно.
// сделать php отправку


